html {
  background-color: rgba(0, 0, 0, 0.976);
  box-sizing: border-box;
}

#navbar {
  margin: 10px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: sticky;
  top: 0;
  right: 1rem;
}

#navbar a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

#welcome-section {
  background-image: url(img/re.jpg);
  background-color: rgba(0, 0, 0, 0.042);
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  border: 3px solid red;
}

.news-title {
  color: thistle;
  position: absolute;
  left: 3.5rem;
  bottom: 2.5rem;
  font-size: 15px;
}

.news {
  color: whitesmoke;
  position: absolute;
  left: 3rem;
  bottom: 0.5rem;
}

.container {  display: grid;
  grid-template-columns: 7em 7em 7em 7em;
  grid-template-rows: 1em 15em 1em 7em 7em;
  gap: 0.5em 1em;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas:
    "rave rave rave rave"
    "rave1 rave1 rave2 rave2"
    "event event event event"
    "event1 event1 event2 event2"
    "ev3 ev4 ev5 ev6";
  width: 31em;
  height: 33em;
}

.rave { grid-area: rave; }

.rave1 { grid-area: rave1; }

.rave2 { grid-area: rave2; }

.event { grid-area: event; }

.event1 {  display: grid;
  grid-template-columns: 7em 7em;
  grid-template-rows: 7em;
  grid-auto-flow: row;
  justify-content: space-evenly;
  grid-template-areas:
    "ev1 ev1-2";
  grid-area: event1;
  width: 15em;
  height: 7em;
}

.ev1 { grid-area: ev1; }

.ev1-2 { grid-area: ev1-2; }

.event2 {  display: grid;
  grid-template-columns: 7em 7em;
  grid-template-rows: 7em;
  grid-auto-flow: row;
  justify-content: space-evenly;
  grid-template-areas:
    "ev2 ev2-2";
  grid-area: event2;
}

.ev2 { grid-area: ev2; }

.ev2-2 { grid-area: ev2-2; }

.ev3 { grid-area: ev3; }

.ev4 { grid-area: ev4; }

.ev5 { grid-area: ev5; }

.ev6 { grid-area: ev6; }

#profile-section {
  color: white;
  font-size: 2rem;
  margin: 10px 3.5rem;
  border: 1px solid white;
}

.fa-square-facebook {
  color: rgba(44, 90, 255, 0.872);
}

.fa-youtube {
  color: red;
}

@media (max-width: 500px) {
#welcome-section {
  background-image: url(img/駆動書体\ 3.png);
  background-color: rgba(53, 52, 52, 0.307);
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: 90%;
  background-repeat: no-repeat;
}

.container {  display: grid;
  grid-template-columns: 7em 7em;
  grid-template-rows: 0.5em 0.5em 15em 15em 0.5em 0.5em 7em 7em 7em 7em;
  gap: 0.4em 1em;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas:
    "rave rave"
    "rave rave"
    "rave1 rave1"
    "rave2 rave2"
    "event event"
    "event event"
    "event1 event1"
    "event2 event2"
    "ev3 ev4"
    "ev5 ev6";
  width: 390px;
  height: 64em;
  margin: 0 auto;
}

.rave {
  grid-area: rave;
  color: whitesmoke;
  margin: 0.3rem 0 0 -1rem;
}

.rave1 { grid-area: rave1; }

.rave2 { grid-area: rave2; }

.event {
  grid-area: event;
  color: whitesmoke;
  margin: 0.3rem 0 0 -1rem;

}

.event1 {  display: grid;
  grid-template-columns: 7em 7em;
  grid-template-rows: 7em;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-content: space-evenly;
  grid-template-areas:
    "ev1 ev1-2";
  grid-area: event1;
  width: 15em;
  height: 7em;
}

.ev1 { grid-area: ev1; }

.ev1-2 { grid-area: ev1-2; }

.event2 {  display: grid;
  grid-template-columns: 7em 7em;
  grid-template-rows: 7em;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-content: space-evenly;
  grid-template-areas:
    "ev2 ev2-2";
  grid-area: event2;
}

.ev2 { grid-area: ev2; }

.ev2-2 { grid-area: ev2-2; }

.ev3 {
  grid-area: ev3;
  width: 7em;
  height: 7em;
}

.ev4 {
  grid-area: ev4;
  width: 7em;
  height: 7em;
}

.ev5 {
  grid-area: ev5;
  width: 7em;
  height: 7em;
}

.ev6 {
  grid-area: ev6;
  width: 7em;
  height: 7em;
}

}
